[flake8]
show-source          = true
docstring-convention = google
max-line-length      = 100
exclude =
    # Byte-compiled / optimized / DLL files
    __pycache__/,
    *.py[cod],
    *$py.class,

    # Modules' leftovers
    .pytest_cache/,
    .venv/,
    dist/,
    venv/,

    # Text editors, IDEs
    .vscode/

ignore =
    ; WPS - Too strict
    WPS,
    ; S404 - Avoid dublication of a subprocess-related issue
    S404

per-file-ignores =
    ; Use of asserts in tests is OK
    *test*.py: S101
