[flake8]
show-source          = true
docstring-convention = google
# pylint is not so strict as flake8 (pycodestyle), so max-line-length here is higher.
max-line-length      = 100
exclude =
    # Byte-compiled / optimized / DLL files
    __pycache__/,
    *.py[cod],
    *$py.class,

    # CVS
    .git/,

    # Modules' leftovers
    .pytest_cache/,
    .venv/,
    venv/,
    dist/,

    # Text editors, IDEs
    .vscode/

ignore =
    ; WPS - Too strict
    WPS,
    ; S404 - Avoid dublication of a subprocess-related issue
    S404

per-file-ignores =
    ; Use of asserts in tests is OK
    *test*.py: S101
